body{
    margin: 0px;
    padding: 0px;
}
header{
    size: 400px;
    background-color: #002244;
    height: 120px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding: 0px;
    margin: 0px;
        }
        #main{
             margin-left: 40% ;
            display: inline;
            margin-right: 400px;
            position: sticky;
            position: -webkit-sticky;
            padding-top: 0px;
            position: absolute;
            text-shadow: 4px 4px black;
        }
        ul{
   
   list-style:none;
   margin: 0px;
   padding:10px;
   margin-left: 80px;
   border-radius: 0px;
   display: inline-block;
   padding-top: 70px;
   color: white;
   
}
li{
   display: inline;
   padding: 10px;
   margin-left: 25px;  
   bottom: 50px; 
   color: aliceblue;
  
}
a{
   text-decoration: none;
   color: white;

}
#logo{
    position: absolute;
    margin-left: 85%;
    height: 100px;
    top: 10px;
    bottom: auto;
    border: solid;
    opacity: 100%;
}
.wel{
    margin-left: 41%;
    display: inline;
  }
.container1 {
    display: flex;
    justify-content: space-around; /* Adjusts spacing between items */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}
.product {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 10px;
    width: 200px; /* Set a fixed width for product cards */
    text-align: center;
}

.footer{
 margin-bottom: 10px;
 bottom: 10px;
 text-align: center;
}
button {
    background-color: #04AA6D;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
   
  }
 .catagory a:hover{
    background-color: rgb(50, 156, 188);
    opacity: 70%;
    transition-duration: 5s;
    transform-origin: 2px;
    border-radius: 10px;
    height: 40px;
    width: 100px;
  }